@import 'tailwindcss';

:root {
  color-scheme: light;
}

html, body {
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif;
  background: #f1f5f9;
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
}

/* Safe area untuk PWA fullscreen */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}
